<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>Tension Pyramid Rules</title>
    </header>

    <body>
        <h2>Available actions</h2>
        <ul>
            <li><strong>Add a Die: </strong>Pick up a d6 and drop it on the pyramid. 
                If you just added the sixth die to the pyramid, immediately Destroy the Pyramid.</li>
            <li><strong>Roll the Pyramid: </strong>Roll all the dice currently in the pyramid. 
                Take note of any 1. Then, put the dice back in the pyramid. 
                If the pyramid is currently empty, roll one d6 by itself, note if it's a 1, and put it aside.</li>
            <li><strong>Add a Die and Roll the Pyramid: </strong>If that’s the sixth die, immediately Destroy the Pyramid. 
                Otherwise, pick up all the dice currently in the pool and roll them. Take note of any 1. Then, put the dice back in the pyramid.</li>
            <li><strong>Destroy a Full Pyramid: </strong>Ignore what’s in the pyramid. Pick up 6d6 and roll them. 
                Take note of any 1. Don’t change the pyramid in any way.</li>
            <li><strong>Destroy the Pyramid: </strong>Roll all the dices in the pyramid. Take note of any 1.
                Don’t return the dice to the pyramid, it is now empty.</li>
        </ul>

        <h2>General Rules</h2>

        The Tension Pyramid starts empty. Dice get added and occasionally it gets rolled. 
        When it does, if any die comes up a 1, a Complication occurs. Complications can be anything and the GM should consider preparing a list in advance. 
        The only stipulation is that Complications must always make things worse. Or harder. Or more inconvenient.<br>
        Whatever you’re tracking, you always want to Roll the pyramid whenever the party does something reckless, dangerous or risky.<br>
        <br>

        When tracking time, one die represents around 10 minutes.<br>
        During social interactions, add a die for cautious actions and Roll the Pyramid for reckless actions. 
        <blockquote>If the party calmly pleads their case with the king, add a die to the pyramid. 
        If they decide to threaten the king, roll the pyramid.</blockquote><br>   

        The party migh do things that are both time consuming and reckless. 
        <blockquote>If the party decides to take out their picks and dig through the rubble of a collapsed passage, that’s going to take time AND to attract attention. 
        Add a die, then roll the pyramid.</blockquote><br>

        Destroying a Full Pyramid is most useful when you’re using the pyramid to track time and the party does something that would eat up enough time to fill the whole pyramid. 
        <blockquote>For example, when the party decides to take a short rest (1h in D&D 5E) roll 6d6 as to see if a Complication interrupts their rest and leave the current pyramid intact for when they start adventuring again.</blockquote><br>

        For long journeys, you can destroy a full pyramid at the start of each day and then decides which Complications arise. If you want to break the days into smaller chunks, you can do it this way:<br>
        <ul>
            <li><strong>Dawn: </strong>This is the period around sunrise and into the morning. About 4 AM to 8 AM.</li>
            <li><strong>Morning: </strong>This is the midmorning to noon period. About 8 AM to 12 PM.</li>
            <li><strong>Afternoon: </strong>This is the period after noon. About 12 PM to 4 PM.</li>
            <li><strong>Evening: </strong>From late afternoon to nightfall. About 4 PM to 8 PM.</li>
            <li><strong>Night: </strong>From nightfall to midnight. About 8 PM to 12 AM.</li>
            <li><strong>Predawn: </strong>From midnight to before or just around daybreak. About 12 AM to 4 AM.</li>
        </ul>
        <blockquote>If it were noon on any normal day of travel, there’d be two dice in the pyramid (one for Dawn and one for Morning). 
            And if the party decides to cut across orc territory instead of going around it, you’d Add a Die and Roll the Pyramid because travelling for four hours through orc territory is both time-consuming and reckless. 
            So, you can just roll three dice right then and there and see if a Complication arises.</blockquote>
    </body>
</html>