<!DOCTYPE html>
<html> 
    <header>
        <meta charset="utf-8">
        <title>Tension Pool</title>
        <!-- <link rel="stylesheet" href="../styles/styles.css"> -->
        <!-- <script src="../scripts/pool.js" defer></script> -->
     </header>
    <p class='text' id='pool'>Dices in the pool: 0</p>

    <p class= 'buttons'>
    <button class='add' id='rollA' type ="buttonAdd">Add Dice</button>
    <button class='roll' id='rollB' type ="buttonRoll">Roll Dices</button>
    </p>
