<!DOCTYPE html>
<div id="all">
<html> 
    <header>
        <meta charset="utf-8">
        <title>Tension Pyramid</title>
     </header>

    <body>
    <p>
        <button id="rules" type='buttonRules' class="fas fa-info"></button>
        <span id='pyramid'>Dices in the pyramid: 0/6</div>
    </p>

    <p id= 'buttons'>
    <button id='rollA'>Add Dice</button>
    <button id='rollB'>Roll Dices</button>
    <button id='rollC'>Roll Full</button>
    <button id='rollD'>Roll Empty</button>
    </p>
    </body>
</html>
</div>
